<h1>Listing test_pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_pages.each do |test_page| %>
  <tr>
    <td><%= test_page.title %></td>
    <td><%= test_page.body %></td>
    <td><%= link_to 'Show', test_page %></td>
    <td><%= link_to 'Edit', edit_test_page_path(test_page) %></td>
    <td><%= link_to 'Destroy', test_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test page', new_test_page_path %>
