<h1>Listing test_posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_posts.each do |test_post| %>
  <tr>
    <td><%= test_post.title %></td>
    <td><%= test_post.body %></td>
    <td><%= link_to 'Show', test_post %></td>
    <td><%= link_to 'Edit', edit_test_post_path(test_post) %></td>
    <td><%= link_to 'Destroy', test_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test post', new_test_post_path %>
